div.settings-widget
  button.settings-trigger(@click="toggleSettings")
  div.settings-window(v-show="settingsShown")
    button.settings-window__close(@click="toggleSettings")
    div.settings-item
      select(v-model="hasHelmet")
        option(value="false") Без шлема
        option(value="true") Шлем
    div.settings-item
      select(v-model="hasPlatecarrier")
        option(value="false") Без бронежилета
        option(value="true") Бронежилет
