.wound-status {
  position: absolute;
  top: 10px; left: 10px;
  display: flex;
  align-items: center;
}

.restrictions-text {
  position: absolute;
  left: 0; top: 50px;
  font-size: 12px;
}

.wound-timer {
  margin-left: 10px;
  white-space: nowrap;
}

.health-status:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 7px; height: @width;
  margin-top: -2px;
  margin-left: 6px;
  border-radius: 50%;
  background: green;
}

.health-status--easy-wounds:after {
  background: yellow;
}

.health-status--serious-wounds:after {
  background: red;
}

.health-status--deadly-wounds:after {
  background: black;
}

.healts-status__first-aid-icons {
  display: inline-block;
  margin-left: 5px;
}

.stunned-icon {
  display: block;
  position: absolute;
  left: 0; top: 20px;
}

.death-overlay {
  width: 100%; height: 100%;
  position: absolute;
  left: 0; top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .5);
  color: #fff;
}

.death-overlay__content {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2rem;
}
