.body-part.body-part--torso(@click="addWound" :class="{ 'body-part--easily-wounded': isEasilyWounded, 'body-part--seriously-wounded': isSeriouslyWounded, 'body-part--deadly-wounded': isDeadlyWounded }")
