.body-part.body-part--leg(@click="addWound" :class="[ sideClass, { 'body-part--easily-wounded': isEasilyWounded, 'body-part--seriously-wounded': isSeriouslyWounded, 'body-part--deadly-wounded': isDeadlyWounded }]")
