.body-part--head {
  width: 30%;
  left: 50%; top: 0;
  transform: translateX(-50%);

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .body-part__timer {
    left: 100%;
    margin-left: 20px;
  }
}
