.body-part.body-part--head(@click="addWound(true)" :class="{ 'body-part--has-armor': hasArmor, 'body-part--easily-wounded': isEasilyWounded, 'body-part--seriously-wounded': isSeriouslyWounded, 'body-part--deadly-wounded': isDeadlyWounded }")
  .body-part__timer(v-if="stabilizationTimer" @click.stop="giveFirstAid" v-long-press="500" @long-press-start="toggleTimeEditor") {{ stabilizationTimeLeftFormatted }}
    i.first-aid-icon(v-show="firstAidAvailable")
    .body-part__first-aid-icons
      i.first-aid-given-icon(v-show="firstAidGiven")
      i.stabilized-icon(v-show="isStabilized")
  time-editor
