.man-figure {
  width: calc(100% - 40px);
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  &:before {
    content: '';
    display: block;
    padding-bottom: 177%;
  }

  &.marine-skin {
    background: url(../../../img/army-skin.jpg) no-repeat 50% / contain;
  }

  &.afghan-skin {
    background: url(../../../img/afghan-skin.jpg) no-repeat 50% / contain;
  }
}

.body-part {
  position: absolute;
  /* background: green; */
}

.body-part--easily-wounded {
  /* background: yellow; */
}

.body-part--seriously-wounded {
  /* background: red; */
}

.body-part--deadly-wounded {
  /* background: black; */
}

.body-part__timer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.first-aid-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 12px; height: 12px;
  border: 1px solid #000;
  margin-left: 5px;
  margin-top: -3px;
  position: relative;

  &:before, &:after {
    content: '';
    display: block;
    background: red;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: 8px; height: 2px;
  }

  &:after {
    width: 2px; height: 8px;
  }
}

.broken-armor-icon {
  display: block;
  width: 20px; height: 20px;
  background: url(../../../img/broken-shield.png) no-repeat 50% / contain;
  position: absolute;
  left: 100%; top: 0;
  z-index: 10;
  margin-left: 20px;
}
