.man-figure(:class="skinClass")
  unit-head(ref="head")
  unit-arm(side="left" ref="leftArm")
  unit-arm(side="right" ref="rightArm")
  unit-torso(ref="torso")
  unit-leg(side="left" ref="leftLeg")
  unit-leg(side="right" ref="rightLeg")
