.body-part--arm {
  width: 15%;
  top: 0;
  margin-top: 31%;

  &:before {
    content: '';
    display: block;
    padding-bottom: 450%;
  }

  &:after {
    content: '';
    display: block;
    width: 100%; height: 100%;
    position: absolute;
    left: 93%; top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.body-part--arm.body-part--left {
  right: 50%;
  margin-right: 14%;
  /* transform: rotate(30deg); */

  .body-part__timer {
    right: 100%;
  }

  &.body-part--easily-wounded:after {
    background: url(../../../../img/easy-wound-2.png) no-repeat 50% 20% / 100% auto;
  }

  &.body-part--seriously-wounded:after {
    background: url(../../../../img/serious-wound-2.png) no-repeat 50% 20% / 100% auto;
  }
}

.body-part--arm.body-part--right {
  left: 50%;
  margin-left: 16%;
  /* transform: rotate(-30deg); */

  .body-part__timer {
    left: 100%;
  }

  &:after {
    left: 22%; top: 53%;
  }

  &.body-part--easily-wounded:after {
    background: url(../../../../img/easy-wound-3.png) no-repeat 50% 20% / 100% auto;
  }

  &.body-part--seriously-wounded:after {
    background: url(../../../../img/serious-wound-3.png) no-repeat 50% 20% / 100% auto;
  }
}
