.body-part.body-part--arm(@click="addWound(true)" :class="[ sideClass, { 'body-part--easily-wounded': isEasilyWounded, 'body-part--seriously-wounded': isSeriouslyWounded, 'body-part--deadly-wounded': isDeadlyWounded }]")
  .body-part__timer(v-if="stabilizationTimer || isStabilized" @click.stop="giveFirstAid" v-long-press="500" @long-press-start="toggleTimeEditor") {{ stabilizationTimeLeftFormatted }}
    i.first-aid-icon(v-show="firstAidAvailable")
    i.first-aid-given-icon(v-show="firstAidGiven")
    i.stabilized-icon(v-show="isStabilized")
  time-editor
